@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px
@brand-bronze: #b45f38;

@brand-primary: @brand-bronze;

@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;


@font-family-sans-serif:  "proxima-nova", Helvetica, Arial, sans-serif;
@font-family-serif:       "Halant",Georgia, "Times New Roman", Times, serif;
@font-family-hand:  	  'Nothing You Could Do', cursive;
@headings-font-family: @font-family-serif;

@body-bg:               #fff;
//** Global text color on `<body>`.
@text-color:            @gray-dark;

//** Global textual link color.
@link-color:            @gray-dark;
//** Link hover color set via `darken()` function.
@link-hover-color:      @brand-primary;
//** Link hover decoration.
@link-hover-decoration: none;